.center {
  margin-right: 485;
  margin-left: 485;
  width: 370px;
  padding: 10px;
  align: right;
}

p.solid {
    border-style: solid;
    padding:10px; 
    margin:auto; 
    width:370px; 
    align:right;
    }

img {
  padding-right: 20px;
}
