* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
}

.img-info {
    width: 100%;
}

p.solid {
    border-style: solid;
    padding:10px; 
    margin:auto; 
    width:370px; 
    align:right;
    }

img {
  padding-right: 20px;
}

@media only screen and (min-width: 768px) {
    
    .wrapper {
        width: 600px;
        margin: 0 auto;
    }
}
