* {
margin: 0px;
padding: 0px;
font-family: monospace;
}

body {
  background-color: #f0f0f0;
  font-size: 14px;
  font-color: #000000;
}

#wrapper {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#header {
  background-color: #68991c;

  width: 100%;
  margin-bottom: 10px;
}

.topnav {

  color: #000000;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  font-size: 17px;
  border: 1px solid;
  margin-bottom: 10px;
}

.topnav a {
  padding: 25px;
}

#content {
  background-color: #ffffff;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #cccccc;
}

#logo {

  font-size: 35px;
  padding-left: 10px;
  padding-bottom: 10px;
  color: white;
}

.post {
  background-color: #ffffff;
  padding: 5px;

  border: 1px solid #cccccc;
}

.post p {
  margin-bottom: 10px;
}

h1 {
  font-size: 18px;
  padding-bottom: 5px;
}
