p.ex1 {
  margin-left: 485;
  align: left;
}

p.solid {
    border-style: solid;
    padding:10px; 
    margin:auto; 
    width:370px; 
    align:right;
    }

img {
  padding-right: 20px;
}
